<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{if ne .Page.Title .Site.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>

    <link rel="preload" as="font" href="/fonts/quicksand-latin-400.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/raleway-latin-400.woff2" type="font/woff2" crossorigin="anonymous">

    {{ with .Site.Data.webpack.main.css }}
      <link rel="stylesheet" href="/{{ . }}">
    {{ end }}

    {{ with .Site.Data.webpack.main.js }}
      <script defer src="/{{ . }}" charset="utf-8"></script>
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  {{ $class := cond .IsHome "xl:bg-split-6/12" "" }}
  <body class="font-body text-xl fill-current {{ $class }}">
    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ end }}
  </body>
</html>
