{{ define "main" }}
  <article class="relative">
    <header class="xl:px-20 xl:pt-24">
      <div class="xl:max-w-screen-xxl xl:mx-auto">
        <div class="xl:mx-14 xl:flex xl:items-end">
          <!-- BLACK HEADER -->
          <div class="bg-black-main xl:bg-transparent text-white-main xl:w-4/12">
            <div class="px-6 xl:px-0">
              <div class="max-w-screen-sm mx-auto flex justify-between items-end xl:leading-none xl:pb-4 xl:ml-1px">
                <!-- home button -->
                <a href="/" class="
                  block text-inherit
                  hover:no-underline hover:text-red-cta-on-black
                  focus:no-underline focus:text-red-cta-on-black outline-none
                ">
                  <span class="inline-block w-icon xl:w-10 mr-1 xl:block">{{ partial "icon" (dict "icon" "solid/igloo.svg") }}</span>
                  <span class="xl:sr-only">home</span>
                </a>
                <!-- publish date -->
                <div class="xl:pr-14">
                  <span class="sr-only">Published on</span>
                  <time datetime="{{ .Date.Format "2006-01-02" }}">
                    {{ .Date.Format "Jan 2, 2006" }}
                  </time>
                </div>
              </div>
            </div>
          </div>
  
          <!-- ARTICLE TITLE -->
          <div class="px-6 xl:px-0 xl:w-8/12">
            <div class="max-w-screen-sm xl:max-w-none mx-auto">
              <h1 class="font-heading text-5xl md:text-heading-md xl:text-heading leading-tight text-center xl:text-right pt-24 xl:pt-0 xl:-mr-14">
                {{ .Title }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="px-6 xl:px-20">
      <div class="max-w-screen-sm xl:max-w-screen-xxl mx-auto">
        <div class="line-black-6/12 xl:line-both-4/12 line-absolute xl:line-static xl:flex xl:flex-wrap xl:mx-14">
          <!-- SIDEBAR -->
          <div class="hidden xl:block text-white-main text-right xl:w-4/12 xl:pr-14 xl:relative xl:bg-black-end-right">
            <aside class="toc sticky top-0 xl:pt-12">
              <h2 class="sr-only">Jump to topic</h2>
              {{ .TableOfContents }}
            </aside>
          </div>
          <!-- ARTICLE BODY -->
          <div class="content xl:w-8/12 xl:pl-14 text-justify">
            {{ .Content }}
            <!-- ARTICLE FOOTER -->
            <footer class="py-12">
              <!-- home button footer -->
              <div class="flex justify-between">
                <a href="/" class="
                          pr-6 text-inherit
                          hover:no-underline hover:text-red-cta-on-white
                          focus:no-underline focus:text-red-cta-on-white outline-none
                        ">
                  <span class="inline-block w-icon mr-1">{{ partial "icon" (dict "icon" "solid/igloo.svg") }}</span>
                  <span>there is more...</span>
                </a>
                <!-- publish date footer -->
                <div>
                  <span class="sr-only">Published on</span> 
                  <time datetime="{{ .Date.Format "2006-01-02" }}">
                    {{ .Date.Format "Jan 2, 2006" }}
                  </time>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </article>
{{ end }}
